USE [master]
GO
/****** Object:  Database [PracticalTest]    Script Date: 1/24/2023 5:56:11 PM ******/
CREATE DATABASE [PracticalTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PracticalTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\PracticalTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PracticalTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\PracticalTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PracticalTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PracticalTest]
GO
USE [PracticalTest]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/24/2023 5:56:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MathematicalOperations]    Script Date: 1/24/2023 5:56:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MathematicalOperations](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstNumber] [decimal](18, 2) NOT NULL,
	[SecondNumber] [decimal](18, 2) NOT NULL,
	[MathOperation] [nvarchar](max) NOT NULL,
	[MathResult] [decimal](18, 2) NOT NULL,
	[ResponseMessage] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MathematicalOperations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230122082313_Init', N'7.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230122085405_DepartmentMaxSalary', N'7.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230122100023_EmployeeStatus', N'7.0.2')
GO
SET IDENTITY_INSERT [dbo].[MathematicalOperations] ON 

INSERT [dbo].[MathematicalOperations] ([Id], [FirstNumber], [SecondNumber], [MathOperation], [MathResult], [ResponseMessage]) VALUES (1, CAST(10.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), N'+', CAST(20.00 AS Decimal(18, 2)), N'Result: 10 + 10 = 20')
INSERT [dbo].[MathematicalOperations] ([Id], [FirstNumber], [SecondNumber], [MathOperation], [MathResult], [ResponseMessage]) VALUES (2, CAST(10.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), N'-', CAST(0.00 AS Decimal(18, 2)), N'Result: 10 - 10 = 0')
INSERT [dbo].[MathematicalOperations] ([Id], [FirstNumber], [SecondNumber], [MathOperation], [MathResult], [ResponseMessage]) VALUES (3, CAST(10.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), N'/', CAST(1.00 AS Decimal(18, 2)), N'Result: 10 / 10 = 1')
SET IDENTITY_INSERT [dbo].[MathematicalOperations] OFF
GO
ALTER TABLE [dbo].[MathematicalOperations] ADD  DEFAULT (N'') FOR [ResponseMessage]
GO
USE [master]
GO
